<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

  * {
    box-sizing: border-box;
  }

  .all {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7f7 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }

  .quiz-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
  }

  .quiz-header {
    padding: 4rem;
  }

  h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  ul li label {
    cursor: pointer;
  }

  button {
    background-color: #03cae4;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
  }

  button:hover {
    background-color: #04adc4;
  }

  button:focus {
    outline: none;
    background-color: #44b927;
  }
</style>
<div class="all">
  <div class="quiz-container" id="quiz">
    <div class="quiz-header">
      <h2 id="question">Question Text</h2>
      <h5 id="stim" class="text-right">Time</h5>
      <ul>
        <li>
          <input type="radio" name="answer" id="option1" class="answer">
          <label for="a" id="a_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="option2" class="answer">
          <label for="b" id="b_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="option3" class="answer">
          <label for="c" id="c_text">Answer</label>
        </li>

        <li>
          <input type="radio" name="answer" id="option4" class="answer">
          <label for="d" id="d_text">Answer</label>
        </li>

      </ul>
    </div>

    <button id="submit">Submit</button>

  </div>
</div>
<script>
  var arr;
  $.ajax({
    url: "https://quiz-ygvc.onrender.com/api/?id=<%= data.id%>",
    method: "GET",
    success: function (data) {
      const quiz = document.getElementById('quiz')
      const answerEls = document.querySelectorAll('.answer')
      const questionEl = document.getElementById('question')
      const a_text = document.getElementById('a_text')
      const b_text = document.getElementById('b_text')
      const c_text = document.getElementById('c_text')
      const d_text = document.getElementById('d_text')
      const submitBtn = document.getElementById('submit')
      let tt=parseInt( "<%=data.coursename.coursequestion%>" );
      let passing=parseInt( "<%=data.coursename.cpassing%>" );
     console.log(passing);
      let flag=0;
      let time="<%= parseInt(data.coursename.ctime)/parseInt( data.coursename.coursequestion )%>";
      time=parseInt(time);
      let ctim=time;
      let currentQuiz = 0
      let score = 0
      let s=0
      
      loadQuiz()
     
      function loadQuiz() {
       // console.log(currentQuiz)
        deselectAnswers()
        ctim=time
        document.getElementById("stim").innerHTML=ctim;
        if(currentQuiz >= data.data.length || currentQuiz >= tt){
          clearInterval(ids);
          quiz.innerHTML = `
                    <h2>You answered ${s}/${tt} questions correctly</h2>
                    <button onclick="location.reload()">Reload</button>
                    <a href="/submitted/?id=<%= data.id%>&score=${score}"><button style="background-color:red;">Submit</button></a>
                    `
          currentQuiz=0;
        }
      
        
        questionEl.innerText = data.data[currentQuiz].questionstatement
        a_text.innerText = data.data[currentQuiz].option1
        b_text.innerText = data.data[currentQuiz].option2
        c_text.innerText = data.data[currentQuiz].option3
        d_text.innerText = data.data[currentQuiz].option4
      }
      let ids=setInterval(function(){
        document.getElementById("stim").innerHTML=--ctim;
        if(ctim==0 && currentQuiz < data.data.length && currentQuiz < tt){
          currentQuiz++;
          loadQuiz()
        }
        if(currentQuiz >= data.data.length || currentQuiz >= tt){
          clearInterval(ids);
          quiz.innerHTML = `
                    <h2>You answered ${s}/${tt} questions correctly</h2>
                    <button onclick="location.reload()">Reload</button>
                    <a href="/submitted/?id=<%= data.id%>&score=${score}"><button style="background-color:red;">Submit</button></a>
                    `
        }
      },1000);
      if(currentQuiz >= data.data.length || currentQuiz >= tt){
            clearInterval(ids);
      }
      function deselectAnswers() {
        answerEls.forEach(answerEl => answerEl.checked = false)
      }

      function getSelected() {
        let answer
        answerEls.forEach(answerEl => {
          if (answerEl.checked) {
            answer = answerEl.id
          }
        })
        return answer
      }
      

      submitBtn.addEventListener('click', () => {
        const answer = getSelected();
        console.log(answer);
        if (answer || answer === undefined) {
          if (answer === data.data[currentQuiz].answer) {
            s++;
            score+=parseInt(data.data[currentQuiz].questionpoint);

          }
          
          currentQuiz++
          if(currentQuiz >= data.data.length || currentQuiz >= tt){
            clearInterval(ids);
          }
          if (currentQuiz < data.data.length &&  currentQuiz < tt) {
            loadQuiz()
          } else {
            clearInterval(ids);
            quiz.innerHTML = `
                    <h2>You answered ${s}/${tt} questions correctly</h2>
                    <button onclick="location.reload()">Reload</button>
                    <a href="/submitted/?id=<%= data.id%>&score=${score}"><button style="background-color:red;">Submit</button></a>
                    `
          }
        }
      })


    }
  });

</script>
